@model FGMS.Models.CharacteristicsScore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CharacteristicsScore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dairyness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dairyness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rumpAngle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rumpAngle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rumpWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rumpWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rearLegAngulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rearLegAngulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foreLegAngulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foreLegAngulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foreLegAttachment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foreLegAttachment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EscutionArch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EscutionArch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EscutionHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EscutionHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medialSuspendoryLigament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medialSuspendoryLigament)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uderDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uderDepth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teatPlacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teatPlacement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teatDiameter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teatDiameter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Head)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Head)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoulderAssembly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoulderAssembly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegsFront)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegsFront)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegsRear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegsRear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pastern)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pastern)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Back)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Back)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UdderTexture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UdderTexture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defects)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal.species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.species)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.characteristicsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
