@model IEnumerable<FGMS.Models.ImunizationRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImunizationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.booster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reasonAdministered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dosageGiven)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MethodOfDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Animal.species)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.medicineName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImunizationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.booster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reasonAdministered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dosageGiven)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MethodOfDelivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.species)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine.medicineName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ImunizationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ImunizationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ImunizationId })
        </td>
    </tr>
}

</table>
