@model FGMS.Models.DairyProductivity

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DairyProductivity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.volumeProduced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volumeProduced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateProduced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateProduced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.butterFatContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.butterFatContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amountFeedFed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amountFeedFed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal.species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.species)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
